@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';


body {
  color: var(--primary-color);
  &.hidden {
    overflow: hidden;
  } 
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.header-top {
  background-color: #121212;
  color:#FFFFFF;
  padding: 5px 85px;
  &__img {
    margin-right: 10px;
  }
  &__social {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 11px;
    font-weight: 500;
    line-height: 12px;
  }
  &__media {
    display: grid;
    grid-auto-flow: column;
    gap:10px;
    &-link{
      display: block;
    }
  }
} 

.header-social__wrapper {
  display: flex;
}

.header-social__link {
  display: flex;
  align-items: center;
}

.header-social__link:not(:last-child){
  margin-right: 24px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding:17px 0;
  align-items: center;
  &__nav {
    cursor: pointer;
    display: flex;
    grid-auto-flow: column;
    gap:32px;
    font-weight: 400;
    line-height: 16px;
  }
  &__icons {
    display: grid;
    grid-auto-flow: column;
    gap:24px;
    cursor: pointer;
  }
}

.basket {
  &-shop  {
    position: relative;
  }
  &-counter {
    position: absolute;
    background-color: #121212;
    color: #FFFFFF;
    border-radius:100% ;
    border: 2px solid #FFFFFF;
    font-weight: 700;
    font-size: 9px;
    width: 20px;
    height: 20px;
    top: -4px;
    right: -4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}

.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  // display: none;
  top: 0;
  left: 0;
  &_active  {
    display: block;
  }
  &__body  {
  display: flex;
  justify-content:flex-end;
  }
  &__card  { 
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  position: relative;
  max-width: 388px;
  width: 100%;
  height: 100vh;
    &-body {
      padding: 0 24px 24px;
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
    &-header  {
      background-color: #121212;
      padding: 13px 24px ;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      &_title {
        color: #FFFFFF;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        font-weight: 600;
      }
      &_close {
        cursor: pointer;
      }
    }
  }
  &-border {
    border:1px solid #E5E5E5;
    margin-bottom: 24px;
  }
}

.localization-title {
  color: #121212;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 18px;
}

.localization-list {
  display:grid;
  & li{
    display: flex;
  } 
}

.modal__input_input {
  padding: 15px 16px;
  background-color: #F8F8F8;
  width: 100%;
  border: none;
  color:#9C9C9C;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.search__input {
  position:relative ;
  margin: 24px 0px;
  &_img {
    position: absolute;
    right: 16px;
    top: 12px;
    cursor: pointer;
  }
}

.search-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.search-list {
  display: grid;
  grid-template-columns:minmax(0,1fr);
  gap: 24px;
  overflow-y:auto;
  max-height: 412px;
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background-color: #E5E5E5;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #8D8B8B;
  }
}

.search__card {
  display: flex;
  &_img {
    margin-right: 16px;
  }
  &-title {
    font-weight: 400;
    opacity: 0.6;
    text-transform: none;
    margin-bottom: 12px;
  }
  &-price {
    font-weight: 600px;
  }
}

.login {
  &__subtitle {
    font-weight: 400;
    margin-bottom: 19px;
  }
  &__form {
    margin-bottom: 59px;
    &-title {
      margin-top: 5px;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &-text {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
    &-info {
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      color: #717171;
    }
    &-choice {
      margin-top: 32px;
      margin-bottom: 24px;
      display: flex;
      align-items: center;
    }
    &-border {
      border: 1px solid #E6E6E6;
      width: 100%;
      &-text {
        font-weight: 400;
        margin: 0 15px;
      }
    }
    &-social {
      display:grid;
      grid-auto-flow:column;
      gap: 24px;
      margin: 0 auto;
      width: fit-content;
    }
    &-create {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: auto;
      &_customer {
        font-weight: 400;
        margin-bottom: 16px;
      }
    }
  }
}

.basket {
  &__card {
    display: flex;
    &-footer {
      margin-top: auto;
    }
    &-border {
      margin:12px 0;
      border: 1px solid #E5E5E5;
    }
    &_btn {
      margin-bottom: 12px;
    }
    &_img{
      margin-right: 16px;
    }
    &-title {
      font-weight: 400;
      opacity: 0.6;
      margin-bottom: 4px;
    }
    &-info {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 28px;
    }
    &-action {
      display: flex;
      align-items: center;
    }
    &-counter {
      margin-right: 16px;
    }
    &-price {
      font-weight:700;
      margin-right: 56px;
    }
    &-basket {
      cursor: pointer;
    }
    &-total {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 24px;
      &_text {
        font-weight: 400;
      }
      &_price {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.06em;
        text-transform: uppercase
      }
    }
  }
}

.counter {
  display: flex;
  padding: 7px 6px;
  background-color: #F8F8F8;
  align-items: flex-start;

  &__operation {
    cursor: pointer;
    width: 18px;
    height: 18px;
    max-width: unset;
  }

  &__input {
    font-weight: 400;
    background-color:transparent;
    border: none;
    width: 44px;
    text-align: center;
  }
}

.modal_btn {
  border: 2px solid #121212;
  background: #121212;
  color:#FFFFFF;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 100%;
  padding:15px 0;
  cursor: pointer;
  &-grey {
    border: none;
    background: #F8F8F8;
    color:#121212;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 100%;
    padding:16px 0;
    cursor: pointer;
  }
}

.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &__text{
    font-size: 13px;
    line-height: 34px;
    opacity: 0.8;
    font-weight: 400;
  }
  &__box {
    display: inline-block;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color:#121212;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display:none;
    }
  }
  &__input  {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    &:checked { 
      +.radio__box {
        border-color: #121212;
        &+.radio__text {
          font-weight: 600;
          opacity: 1;
        }
        &::before {
          display: block;
        }
      }
    }
  }
}

.footer-top {
  background-color:#121212;
  color:#FFFFFF;
  padding: 12px 0;
  margin-bottom: 40px;
  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      font-size: 12px;
      font-weight: 600;
    }
  }
  &__join {
    display: flex;
  }
  &__input {
    padding: 7px 16px;
    width: 100%;
    min-width: 400px;
    background-color: #414141;
    border: 1px solid #121212;
    font-weight: 500;
    font-size: 13px;
    color: #8D8D8D;
    margin-right: 12px;
    height: 32px;
    &:focus{
      color: #FFFFFF;
    }
  }
  &_btn {
    padding: 7px 24px;
    border: 1px solid #FFFFFF;
    width: 100%;
    min-width: 108px;
    color: #FFFFFF;
    font-size:12px;
    font-weight: 600;
    height: 32px;
  }
  &__media {
    display: grid;
    grid-auto-flow: column;
    gap:12px;
    &-link{
      display: block;
    }
  }
}

.footer-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 37px;
}

.footer-card {
  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 8px;
    letter-spacing: 0.06em;
  }
  &__list {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    & a {
      display: flex;
    } 
    &-img {
    margin-right:8px;
    }
  }
}

.footer-bottom {
  background-color: #F8F8F8;
  &__info {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0,max-content));
  justify-content: space-between;
  gap: 62px;
  padding: 12px 0;
  }
  &__copyright {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
  }
  &__designed {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
  }
}

// MAIN

.border-info {
  border:2px solid #F8F8F8;
}

.section-info {
  padding-top: 30px;
  display: grid;
  gap: 30px;
  grid-template-areas:
  "main-card second-card third-card " 
  "main-card last-card last-card";
  &__card {
    position: relative;
    cursor: pointer;
    &:hover {
      .section-info__card-title {
        padding: 21px 40px;
      }
    }
    &-title {
      padding: 13px 24px;
      transition:padding ease-in 0.2s;
    }
    &_main-label {
      padding: 24px 32px;
      text-align: center;
    }
    &_main-subetitle {
      opacity: 0.4;
      line-height: 13px;
      font-size: 12px;
      margin-bottom:14px;    
    }
    &_main-title {
      line-height: 25px;
      font-size: 22px;
      letter-spacing:0.06em;
    }
    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #ffffff;
      border-radius: 4px;
      font-weight: 600;
      letter-spacing:0.06em;
      width: max-content;
    }
    &:nth-child(2){
      grid-area:second-card;
    }
    &:nth-child(3){
      grid-area:third-card;
    }
    &:first-child {
      grid-area:main-card;
    }
    &:last-child {
      grid-area:last-card;
    }
  }
} 

.section-support {
  padding-top: 32px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  &__card {
    display: flex;
    align-items: center;
    &-wrapper {
      flex-direction: column;
    }
    &-img {
      margin-right: 8px;
      opacity: 0.8;
    }
    &-title {
      font-size: 12px;
      line-height: 13px;
      font-weight: 600;
      letter-spacing: 0.06em;
      padding-bottom: 4px;
    }
    &-subetitle {
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
      opacity: 0.9;
    }
  }
}

.section-item {
  margin-top: 93px;
  margin-bottom: 48px;
  &_man {
    margin-top: 97px;
    margin-bottom: 97px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 48px;
    &-title {
      font-size: 22px;
      line-height: 25px;
      font-weight: 600;
      letter-spacing: 0.06em;
    }
    &-list {
      display: grid;
      grid-auto-flow: column;
      gap:32px;
      letter-spacing: 0.06em;
      line-height: 13px;
      font-size: 12px;
      font-weight: 400;
      color: #949494;
      
      & a:hover {
      font-weight: 500;
      color: #121212;
      }
    }
  }
}

.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap:30px ;
  margin-bottom: 48px;
}

.item-card {
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
  cursor: pointer;
  &:hover {
    .item-card__content {
      transform: translateY(-100%);
    }
  }
  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 16px;
    transition:transform 0.3s ease-in;
    transform: translateY(-60px);
    background-color: #fff;
    width: 100%;
  }
  &__name{
    line-height: 16px;
    font-weight: 400;
    opacity: 0.6;
    margin-bottom: 12px;
    }
  &__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
      &-price {
        line-height: 16px;
        font-weight: 700;
        &__new {
          display: flex;
          align-items: baseline;
        }
        &__old {
          font-size: 12px;
          line-height: 13px;
          opacity: 0.4;
          font-weight: 700;
          margin-left: 4px;
          & del {
            color:#A0A0A0 ;
          }
        }
      }
    }
  &__similar {
      margin-bottom: 12px;
      display: flex;
      &-img:not(:last-child) {
      margin-right: 8px;
      }
    } 
  &__size {
    display: flex;
    margin-bottom: 33px;
    &-img:not(:last-child) {
      margin-right: 8px;
      }
    }
  &__shop {
    display: flex;
    align-items: center;
    &_btn {
      background-color: #121212;
      color:#E7E7E7;
      padding: 13px 24px;
      font-size: 13px;
      transition: ease-in 0.3s;
      &:hover {
        background-color: #414141;
        }
      }
    &-img {
      display:flex;
      justify-content: space-evenly;
      flex-grow: 1;
      }
    }
  &__sale {
    position: absolute;
    background-color: #E91E63;
    color:#FFFFFF ;
    padding: 9px 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    display: inline-flex;
    align-items: center;
    top: 0;
    left: 0;
    }
  }

.section-item_btn {
  background-color: #F8F8F8;
  color: #404040;
  width: 100%;
  display: block;
  text-align: center;
  padding: 16px;
  letter-spacing: 0.06em;
  font-size: 13px;
  line-height: 15px;
  transition: ease-in 0.3s;
  &:hover {
    background-color: #E5E5E5;
  }
}

.section-advertising {
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-bottom: 96px;
  }
  &__card {
    position: relative;
    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #ffffff;
      border-radius: 4px;
      font-weight: 600;
      width: max-content;
      padding: 16px 24px;
      text-align: center;
    }
    &-subtitle {
      font-size: 12px;
      line-height: 13px;
      opacity:0.6;
      margin-bottom: 8px;
      letter-spacing:0.06em;
    }
    &-title {
      font-size: 16px;
      line-height: 18px;
      letter-spacing:0.06em;
      &_red {
        color: #E91E63;
      }
    }
  }
}

.section-offer {
  background:linear-gradient(180deg, #F3F2F2 0%, #DCDBDB 100%);
  padding: 60px;
  &__card {
    padding: 80px 96px 96px;
    background-color:#FFFFFF;
    border-radius: 4px;
    max-width:532px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    &-subtitle {
      opacity: 0.4;
      font-size: 12px;
      line-height: 13px;
      font-weight: 600;
      letter-spacing:0.06em;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    &-title {
      font-weight: 600;
      letter-spacing:0.06em;
      font-size: 26px;
      line-height: 36px;
      text-transform: uppercase;
      margin-bottom: 32px;
      &_red {
        color: #E91E63;
      }
    } 
    &_input {
      background-color:#F8F8F8;
      border: none;
      text-align: center;
      color: #A0A0A0;
      height: 64px;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      width: 100%;
      margin-bottom: 24px;
    }
    &_btn {
      text-transform: uppercase;
      text-align: center;
      background-color:#121212;
      color:#FFFFFF;
      border:2px solid #121212;
      padding: 23px 0;
      height: 64px;
      width: 100%;
      letter-spacing:0.06em;
      cursor: pointer;
      font-size: 16px;
      line-height: 18px;
    }
    &-img__women {
      position: absolute;
      top: -25px;
      left: -261px;
    }
    &-img__men {
      position: absolute;
      top: -15px;
      right: -204px;
    }
  }
}

.section-blog {
  margin-top: 103px;
  margin-bottom: 154px;
  &__info {
    display: flex;
    justify-content: space-between;
    align-items:baseline;
    margin-bottom: 48px;
  }
  &__title {
    font-size: 22px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  &__nav {
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    opacity: 0.6;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px ;
  } 
  &__card {
    position: relative;
    &:hover {
      .section-blog__card-label {
        max-height: 100%;
      }
    }
    &-label {
      position: absolute;
      background-color: #ffffff;
      font-weight: 600;
      letter-spacing:0.06em;
      padding: 24px 16px 0 16px;
      text-align:left;
      top: 100%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: calc(100% - 48px);
      max-height: 122px;
      overflow: hidden;
      transition: max-height 0.2s ease-in ;
    }
    &-title {
      text-transform: uppercase;
      font-size: 14px;
      line-height: 22px;
      font-weight: 600;
      letter-spacing:0.06em;
      margin-bottom: 12px;
    }
    &-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      opacity: 0.8;
      margin-bottom: 24px;
    }
    &-info {
      display: flex;
      justify-content: space-between;
      &__data {
        font-weight: 400;
        font-size: 12px;
        line-height: 13px;
        opacity: 0.6;
      }  
      &__more {
        font-weight: 600;
        font-size: 12px;
        line-height: 13px;
        letter-spacing:0.06em;
        text-transform: uppercase;
      }
    }
  }
} 

// Categories

.sections-categories {
  background-color: #F8F8F8;
  padding-top: 8px;
  padding-bottom: 24px;
  margin-bottom: 37px;
}

.categories {
  &-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
  }
  &-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  &__breadcrumbs {
    display: grid;
    grid-auto-flow: column;
    gap: 6px;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    cursor: pointer;
    &-text {
      opacity: 0.6;
      }
    }
    &__share {
      display: flex;
      font-weight: 500;
      font-size: 11px;
      line-height: 18px;
      opacity: 0.6;
      align-items: center;
      cursor: pointer;
      &-img {
        margin-right: 8px;
      }
    }
  }
}

.main-filter {
  position: relative;
  margin-bottom: 35px;  

  &__panel {
    display: flex;
    justify-content: space-between;
  }

  &_active {
    .main-filter__blank {
      max-height: 350px;
    }

    .main-filter__label-icon {
      .main-filter__label {
        &-close {
          display: block;
        }
        &-open {
          display: none;
        }
      }
    }
  }

  &__blank {
    height: 350px;
    max-height: 0;
    transition: max-height 0.5s;
  }

  &__label {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    align-items: center;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.6;
    &-icon {
      margin-right: 12px;
      width: 24px;
      height: 24px;      
    }
    &-close {
      display: none;
    }
  }
  &__view {
    display: flex;
    cursor: pointer;
    &-list{
      margin-right: 24px;
    }
  }
  &__list {
    cursor: pointer;
    display: flex;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.06em;
    align-items: center;
    &-img {
      margin-left: 4px;
    }
  }

  &__body {
    position: absolute;
    width: 100%;
    background: #F8F8F8;
    top: calc(24px + 32px);
    left: 0;
    display: none;
    z-index: 10;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    height: 318px;
    animation: filter-opacity 0.5s;
    &_active{
      display: grid;
    }
    .filter-body {
      &__card {
        display: flex;
        padding: 24px 42px;
        text-align: left;
        flex-direction: column;
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      &-list {
        display: grid;
        gap: 16px;
        text-transform: none;
        margin-top: 18px;
        max-height: 240px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          width: 3px;
        }
        &::-webkit-scrollbar-track {
          background-color: #E5E5E5;
        }
        &::-webkit-scrollbar-thumb {
          background-color: #8D8B8B;
        }
        li {
          display: flex;
          align-items: center;
        } 
        &_color {
          width: 18px;
          height: 18px;
          border-radius: 60px;
          margin-right: 8px;
          align-items: baseline;
          }
        &_black {
          background-color: #000000;
          }
        &_cyan {
          background-color: #26BDB0;
          }
        &_green {
          background-color: #8FDB7B;
          }
        &_gray {
          background-color: #C4C4C4;
          }
        &_pink {
          background-color: #E74A8C;
          }
        &_white {
          background-color: #FFFFFF;
          }
        &_blue {
          background-color: #4095E3;
          }
        }
      }
    }
    
  }
}

.checkbox{
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  &__input {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    &:checked + .checkbox__box::before {
      display: block;
    }
  }
  &__box {
    display: inline-block;
    border: 1px solid #E6E6E6;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    margin-right: 8px;
    position: relative;
    &::before {
      content:url(../img/accept.svg);
      position: absolute;
      top: -2px;
      left: 2px;
      display: none;
    }
  }
  &__text {
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
    opacity: 0.8;
    user-select: none;
  }
}

.section-loader{
  display: flex;
  justify-content: center;
  padding: 90px 0;
  &__gif {
    position: relative;
  }
  &__square{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #000000;
    transform:rotate(45deg) ;
    &:nth-child(1) {
      top: -8px;
      left: -8px;
      animation: loader-square-1 1.5s infinite;
    }
    &:nth-child(2) {
      top: 0;
      left:0;
      animation: loader-square-2 1.5s infinite;
    }
    &:nth-child(3) {
      top: 8px;
      left:-8px;
      animation: loader-square-3 1.5s infinite;
    }
    &:nth-child(4) {
      top: 0;
      left:-16px;
      animation: loader-square-4 1.5s infinite;
    }
  }
}

@keyframes loader-square-1 {
  0% {
    transform:translateY(0) rotate(45deg);
  }
  50% {
    transform:translateY(-16px) rotate(45deg);
  }
  75% {
    transform:translateY(-4px) rotate(225deg);
  }
  100% {
    transform:translateY(0) rotate(225deg) ;
  }
}

@keyframes loader-square-2 {
  0% {
    transform:translateX(0) rotate(45deg);
  }
  50% {
    transform:translateX(16px) rotate(45deg);
  }
  75% {
      transform:translateX(4px) rotate(225deg);
  }
  100% {
    transform:translateX(0) rotate(225deg);
  }
}

@keyframes loader-square-3 {
  0% {
    transform:translateY(0) rotate(45deg);
  }
  50% {
    transform:translateY(16px) rotate(45deg);
  }
  75% {
    transform:translateY(4px) rotate(225deg);
  }
  100% {
    transform:translateY(0) rotate(225deg);
  }
}

@keyframes loader-square-4 {
  0% {
    transform:translateX(0) rotate(45deg);
  }
  50% {
    transform:translateX(-16px) rotate(45deg);
  }
  75%{
    transform:translateX(-4px) rotate(225deg);
  }
  100% {
    transform:translateX(0) rotate(225deg);
  }
}

@keyframes filter-z-index {
  0% {
    opacity:0;
  }
  100% {
    opacity: 1;
  }
}