@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';


body {
  color: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1110px;
  margin: 0 auto;
}

.header-top {
  background-color: #121212;
  color:#FFFFFF;
  padding: 4px 85px;
  &__img {
    margin-right: 10px;
  }
  &__social {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    font-size: 11px;
    font-weight: 500;
  }
  &__media {
    display: grid;
    grid-auto-flow: column;
    gap:10px;
    &-link{
      display: block;
    }
  }
} 

.header-social__wrapper {
  display: flex;
}

.header-social__link {
  display: flex;
  align-items: center;
}

.header-social__link:not(:last-child){
  margin-right: 24px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  padding:15px 0;
  align-items: center;
  &__nav {
    cursor: pointer;
    display: flex;
    grid-auto-flow: column;
    gap:32px;
    font-weight: 400;
    line-height: 16px;
  }
  &__icons {
    display: grid;
    grid-auto-flow: column;
    gap:24px;
    cursor: pointer;
  }
}

.basket {
  &-shop  {
    position: relative;
  }
  &-counter {
    position: absolute;
    background-color: #121212;
    color: #FFFFFF;
    border-radius:100% ;
    border: 2px solid #FFFFFF;
    font-weight: 700;
    font-size: 9px;
    width: 20px;
    height: 20px;
    top: -4px;
    right: -4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}

.footer-top {
  background-color:#121212;
  color:#FFFFFF;
  padding: 12px 0;
  margin-bottom: 40px;
  &__feedback {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-text {
      font-size: 12px;
      font-weight: 600;
    }
  }
  &__join {
    display: flex;
  }
  &__input {
    padding: 7px 16px;
    width: 100%;
    min-width: 400px;
    background-color: #414141;
    border: 1px solid #121212;
    font-weight: 500;
    font-size: 13px;
    color: #8D8D8D;
    margin-right: 12px;
    height: 32px;
    &:focus{
      color: #FFFFFF;
    }
  }
  &_btn {
    padding: 7px 24px;
    border: 1px solid #FFFFFF;
    width: 100%;
    min-width: 108px;
    color: #FFFFFF;
    font-size:12px;
    font-weight: 600;
    height: 32px;
  }
  &__media {
    display: grid;
    grid-auto-flow: column;
    gap:12px;
    &-link{
      display: block;
    }
  }
}

.footer-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-bottom: 37px;
}

.footer-card {
  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
    margin-bottom: 8px;
    letter-spacing: 0.06em;
  }
  &__list {
    display: grid;
    font-size: 12px;
    font-weight: 400;
    line-height: 34px;
    & a {
      display: flex;
    } 
    &-img {
    margin-right:8px;
    }
  }
}

.footer-bottom {
  background-color: #F8F8F8;
  &__info {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(0,max-content));
  justify-content: space-between;
  gap: 62px;
  padding: 12px 0;
  }
  &__copyright {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
  }
  &__designed {
    font-weight: 500;
    font-size: 11px;
    line-height: 22px;
  }
}

// MAIN

.border-info {
  border:2px solid #F8F8F8;
}

.section-info {
  padding-top: 32px;
  display: grid;
  gap: 30px;
  grid-template-areas:
  "main-card second-card third-card " 
  "main-card last-card last-card";
  &__card {
    position: relative;
    &-title {
      padding: 13px 24px;
    }
    &_main-label {
      padding: 24px 32px;
      text-align: center;
    }
    &_main-subetitle {
      opacity: 0.4;
      line-height: 13px;
      font-size: 12px;
      margin-bottom:14px;    
    }
    &_main-title {
      line-height: 25px;
      font-size: 22px;
      letter-spacing:0.06em;
    }
    &-label {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background-color: #ffffff;
      border-radius: 4px;
      font-weight: 600;
      letter-spacing:0.06em;
      width: max-content;
    }
    &:nth-child(2){
      grid-area:second-card;
    }
    &:nth-child(3){
      grid-area:third-card;
    }
    &:first-child {
      grid-area:main-card;
    }
    &:last-child {
      grid-area:last-card;
    }
  }
} 

.section-support {
  padding-top: 32px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  &__card {
    display: flex;
    align-items: center;
    &-wrapper {
      flex-direction: column;
    }
    &-img {
      margin-right: 8px;
      opacity: 0.8;
    }
    &-title {
      font-size: 12px;
      line-height: 13px;
      font-weight: 600;
      letter-spacing: 0.06em;
      padding-bottom: 4px;
    }
    &-subetitle {
      font-size: 12px;
      line-height: 22px;
      font-weight: 500;
      opacity: 0.9;
    }
  }
}

.section-women {
  padding: 94px 0;
  margin-bottom: 48px;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items:center;
    &-title {
      font-size: 22px;
      line-height: 25px;
      font-weight: 600;
      letter-spacing: 0.06em;
    }
    &-list {
      display: grid;
      grid-auto-flow: column;
      gap:32px;
      letter-spacing: 0.06em;
      line-height: 13px;
      font-size: 12px;
      font-weight: 400;
      color: #949494;
      
      & a:hover {
      font-weight: 500;
      color: #121212;
      }
    }
  }
}