footer.footer 
  .footer-top
    .container
      .footer-top__feedback 
        .footer-top__feedback-text BE IN TOUCH WITH US:
        .footer-top__join
          input(class="footer-top__input" type="email", placeholder ="Enter your email") 
          a(class="footer-top_btn" href="#") JOIN US
        .footer-top__media 
          a(class="footer-top__media-link" href="http:///www.facebook.com") 
            img(src="./assets/img/facebook big.svg", alt="")
          a(class="footer-top__media-link" href="http:///www.twitter.com") 
            img(src="./assets/img/twitter big.svg", alt="")
          a(class="footer-top__media-link" href="http:///www.instagram.com") 
            img(src="./assets/img/instagram big.svg", alt="")
          a(class="footer-top__media-link" href="http:///www.pinterest.com") 
            img(src="./assets/img/pinterest big.svg", alt="")  
  .container
    .footer-grid 
      .footer-card 
        .footer-card__title CATEGORIES 
        ul.footer-card__list
          li 
            a(href="#") Men
          li 
            a(href="#") Women 
          li 
            a(href="#") Accessories
          li 
            a(href="#") Beauty
      .footer-card 
        .footer-card__title INFORMATION 
        ul.footer-card__list
          li 
            a(href="#") About Us
          li 
            a(href="#") Contact Us
          li 
            a(href="#") Blog
          li   
            a(href="#") FAQs
      .footer-card 
        .footer-card__title USEFUL LINKS
        ul.footer-card__list
          li 
            a(href="#") Terms & Conditions
          li 
            a(href="#") Returns & Exchanges
          li 
            a(href="#") Shipping & Delivery
          li 
            a(href="#") Privacy Policy
      .footer-card 
        .footer-card__title CONTACT US 
        ul.footer-card__list
          li 
            a(href="#")
              img(class="footer-card__list-img" src="./assets/img/footer location-marker .svg", alt="")
              | Ukraine, Kyiv,Khreshchatyk 1
          li 
            a(href="tel:+38 (050) 12 34 567")
              img(class="footer-card__list-img" src="./assets/img/footer phone.svg", alt="") 
              | +38 (050) 12 34 567
          li 
            a(href="#")
              img(class="footer-card__list-img" src="./assets/img/footer clock .svg", alt="") 
              | All week 24/7
          li    
            a(href="malito:shaman.magic.music@gmail.com")
              img(class="footer-card__list-img" src="./assets/img/footer mail.svg", alt="")
              | shaman.magic.music@gmail.com
  .footer-bottom 
    .container 
      .footer-bottom__info
        .footer-bottom__copyright Copyright © 2032 all rights reserved
        .footer-bottom__pay
          a(href="#")
            img(class="footer-bottom__img" src="./assets/img/pay.svg")
        .footer-bottom__designed Designed by Oleh Chabanov