header.header   
  .header-top
    .container
      .header-top__social 
        .header-social__wrapper 
          .header-social__link
            img(class="header-top__img" src="./assets/img/phone.svg", alt="")
            a(class="header-top__text" href="tel:+38 (050) 12 34 567") +38 (050) 12 34 567
          .header-social__link
            img(class="header-top__img" src="./assets/img/location-marker 2.svg", alt="")
            a(class="header-top__text" href="#") Ukraine, Kyiv,Khreshchatyk 1
          .header-social__link
            img(class="header-top__img" src="./assets/img/clock 2.svg", alt="")
            a(class="header-top__text" href="#") All week 24/7
        .header-top__media 
          a(class="header-top__media-link" href="http:///www.facebook.com") 
            img(src="./assets/img/facebook .svg", alt="")
          a(class="header-top__media-link" href="http:///www.twitter.com")   
            img( src="./assets/img/twitter .svg", alt="")
          a(class="header-top__media-link" href="http:///www.instagram.com") 
            img(src="./assets/img/instagram .svg", alt="")
          a(class="header-top__media-link" href="http:///www.pinterest.com")   
            img(src="./assets/img/pinterest .svg", alt="")
  .container
    .header-bottom
      img(class="logo" src="./assets/img/logo .svg", alt="alt")
      ul.header-bottom__nav
        li About Us
        li Women
        li Men
        li Beauty 
        li Accessories
        li Blog 
        li Contact
      .header-bottom__icons 
        img(class="js-modal-btn" data-modal="#modal-search"  src="./assets/img/search.svg", alt="")
        img(class="js-modal-btn" data-modal="#modal-localization" src="./assets/img/globe .svg", alt="") 
        img(class="js-modal-btn" data-modal="#modal-login" src="./assets/img/user .svg", alt="")
        .basket-shop 
          .basket-counter 2
          img(class="basket js-modal-btn" data-modal="#modal-basket" src="./assets/img/shopping-bag .svg",alt="") 