extends ./layouts/default.pug

block content
  .border-info 
  .container
    .section.section-info 
      .section-info__card
        img(src="assets/img/title.jpg",alt="",)
        .section-info__card-label.section-info__card_main-label
          .section-info__card_main-subetitle BANNER 
          .section-info__card_main-title YOUR TITLE TEXT 
      .section-info__card
        img(src="./assets/img/women.jpg",alt="")
        .section-info__card-label 
          .section-info__card-title WOMEN 
      .section-info__card  
        img(src="./assets/img/men.jpg",alt="")
        .section-info__card-label 
          .section-info__card-title MEN 
      .section-info__card  
        img(src="./assets/img/accessories.jpg",alt="")
        .section-info__card-label 
          .section-info__card-title ACCESSORIES
    .section-support 
      .section-support__card
        img(class="section-support__card-img" src="./assets/img/truck 1.svg", alt="alt")
        .section-support__card-wrapper 
          p.section-support__card-title FREE SHIPPING 
          p.section-support__card-subetitle On all UA order or order above $100
      .section-support__card
        img(class="section-support__card-img" src="./assets/img/refresh 1.svg", alt="alt")
        .section-support__card-wrapper
          p.section-support__card-title 30 DAYS RETURN 
          p.section-support__card-subetitle Simply return it within 30 days for an exchange
      .section-support__card
        img(class="section-support__card-img" src="./assets/img/support 1.svg", alt="alt")
        .section-support__card-wrapper  
          p.section-support__card-title SUPPORT 24/7
          p.section-support__card-subetitle Contact us 24 hours a day, 7 days a week 
  .border-info
  .container 
    .section.section-item   
      .section-item__nav
        .section-item__nav-title WOMEN’S
        ul.section-item__nav-list
          li 
            a(href="#") NEW ARRIVALS
          li 
            a(href="#") SPECIALS
          li 
            a(href="#") BESTSELLERS
          li 
            a(href="#") MOST VIEWED
          li 
            a(href="#") FEATURED PRODUCTS
      .item-grid 
        .item-card 
          img(class="item-card__img" src="./assets/img/blue pants.jpg", alt="")
          .item-card__content
            .item-card__name Women's tracksuit Q109
            .item-card__info 
              .item-card__info-price $ 38.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/t-shirt 1.jpg", alt="")
          .item-card__content
            .item-card__name Cluse La Boheme Rose Gold
            .item-card__info 
              .item-card__info-price__new
                .item-card__info-price $ 30.00
                .item-card__info-price__old 
                  del
                    | $ 60.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
          .item-card__sale -50%    
        .item-card 
          img(class="item-card__img" src="./assets/img/t-shirt 2.jpg", alt="")
          .item-card__content
            .item-card__name Mercury Tee 
            .item-card__info 
              .item-card__info-price $ 54.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/pants 2.jpg", alt="")
          .item-card__content
            .item-card__name Skin Sweatpans
            .item-card__info 
              .item-card__info-price $ 21.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/t-shirt 3.jpg", alt="")
          .item-card__content
            .item-card__name Short Sleeved Hoodie
            .item-card__info 
              .item-card__info-price $ 32.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/pants 3.jpg", alt="")
          .item-card__content
            .item-card__name Ridley High Waist
            .item-card__info 
              .item-card__info-price $ 68.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/pants 4.jpg", alt="")
          .item-card__content
            .item-card__name Cream women pants
            .item-card__info 
              .item-card__info-price $ 45.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/t-shirt 4.jpg", alt="")
          .item-card__content
            .item-card__name Simple Skin T-shirt
            .item-card__info 
              .item-card__info-price $ 20.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
      a(class="section-item_btn" href="#") SEE ALL
  .container 
    .section.section-item_man 
      .section-item__nav
        .section-item__nav-title MEN’S
        ul.section-item__nav-list
          li 
            a(href="#") NEW ARRIVALS
          li 
            a(href="#") SPECIALS
          li 
            a(href="#") BESTSELLERS
          li 
            a(href="#") MOST VIEWED
          li 
            a(href="#") FEATURED PRODUCTS
      .item-grid 
        .item-card 
          img(class="item-card__img" src="./assets/img/sweatshirt.jpg", alt="")
          .item-card__content    
            .item-card__name Striped Sweatshirt
            .item-card__info 
              .item-card__info-price $ 38.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/men pants.jpg", alt="")
          .item-card__content  
            .item-card__name Men pants
            .item-card__info 
              .item-card__info-price $ 30.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/sweater.jpg", alt="")
          .item-card__content  
            .item-card__name Men Knit Sweater
            .item-card__info 
              .item-card__info-price $ 54.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/beanie.jpg", alt="")
          .item-card__content
            .item-card__name Dusk Pom Beanie
            .item-card__info 
              .item-card__info-price $ 180.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/jacket.jpg", alt="")
          .item-card__content
            .item-card__name Denim Trucker Jacket
            .item-card__info 
              .item-card__info-price $ 32.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/denim.jpg", alt="")
          .item-card__content
            .item-card__name Denim Vest
            .item-card__info 
              .item-card__info-price $ 320.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/trainers.jpg", alt="")
          .item-card__content
            .item-card__name Leather White Trainers
            .item-card__info 
              .item-card__info-price $ 45.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
        .item-card 
          img(class="item-card__img" src="./assets/img/trousers.jpg", alt="")
          .item-card__content
            .item-card__name Checked Tailored Trousers
            .item-card__info 
              .item-card__info-price $ 280.00
              img(class="item-card__info-rate" src="./assets/img/star.jpg", alt="")
            .item-card__similar 
              img(class="item-card__similar-img" src="./assets/img/small pants 1.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 2.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 3.jpg", alt="alt")
              img(class="item-card__similar-img" src="./assets/img/small pants 4.jpg", alt="alt")
            .item-card__size 
              img(class="item-card__size-img" src="./assets/img/xs.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/s.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/m.jpg", alt="alt")
              img(class="item-card__size-img" src="./assets/img/l.jpg", alt="alt")
            .item-card__shop
              a(class="item-card__shop_btn" href="#") ADD TO CART
              .item-card__shop-img 
                img(src="./assets/img/heart 1.svg", alt="")
                img(src="./assets/img/scale 1.svg", alt="")
      a(class="section-item_btn" href="#") SEE ALL
    .section.section-advertising
      .section-advertising__grid  
        .section-advertising__card 
          img(src="./assets/img/offer.jpg", alt="alt")
          .section-advertising__card-label 
            .section-advertising__card-subtitle NEW SEASON
            .section-advertising__card-title LOOKBOOK COLLECTION
        .section-advertising__card 
          img(src="./assets/img/offer 1.jpg", alt="alt")
          .section-advertising__card-label 
            .section-advertising__card-subtitle SALE
            .section-advertising__card-title 
              | GET UP TO 
              span.section-advertising__card-title_red 50% OFF
  .section.section-offer
    .section-offer__card 
      .section-offer__card-subtitle SPECIAL OFFER
      .section-offer__card-title 
        div Subscribe 
        div
          |And 
          span.section-offer__card-title_red Get 10% Off  
      input(class="section-offer__card_input" type="email", placeholder ="Enter your email") 
      div 
        button.section-offer__card_btn Subscribe
      img(class="section-offer__card-img__women" src="./assets/img/girls.png", alt="")
      img(class="section-offer__card-img__men" src="./assets/img/man.png", alt="")
  .container
    .section.section-blog 
      .section-blog__info
        .section-blog__title LATEST FROM BLOG
        a(class="section-blog__nav" href="#") SEE ALL
      .section-blog__grid
        .section-blog__card 
          img(src="./assets/img/women orange.jpg", alt="",)
          .section-blog__card-label 
            .section-blog__card-title The Easiest Way to Break
            .section-blog__card-text But I must explain to you how all this mistaken idea of denouncing pleas and praising pain was bor
            .section-blog__card-info
              .section-blog__card-info__data April 6, 2032
              .section-blog__card-info__more Read More
        .section-blog__card 
          img(src="./assets/img/women white.jpg", alt="",)
          .section-blog__card-label 
            .section-blog__card-title Wedding Season
            .section-blog__card-text But I must explain to you how all this mistaken idea of denouncing pleas and praising pain was bor
            .section-blog__card-info
              .section-blog__card-info__data April 6, 2032
              .section-blog__card-info__more Read More
        .section-blog__card 
          img(src="./assets/img/men in cap.jpg", alt="")
          .section-blog__card-label 
            .section-blog__card-title Recent Favorites On Repeat
            .section-blog__card-text But I must explain to you how all this mistaken idea of denouncing pleas and praising pain was bor
            .section-blog__card-info
              .section-blog__card-info__data April 6, 2032
              a(class="section-blog__card-info__more" href="#") Read More