extends ./layouts/default.pug

block content
  .container
    .section.section-info 
      .section-info__card
        img(src="assets/img/title.jpg",alt="",)
      .section-info__card
        img(src="./assets/img/women.jpg",alt="")
      .section-info__card  
        img(src="./assets/img/men.jpg",alt="")
      .section-info__card  
        img(src="./assets/img/accessories.jpg",alt="")