doctype html
html
  head
    title My Site - #{title}
    link(rel="stylesheet", href="/assets/scss/main.scss")
  body
    block header
      include /components/header.pug
    main.main 
      block content
    block footer
      include ./../components/footer.pug
    block scripts
      script(src='/scripts/main.js')